body {
    background-color: rgb(176,224,230);
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}



.avocadoBody {
    height: 330px;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 40%;
    animation: swaying 1.5s infinite ease-in-out alternate-reverse;
}

.avocadoFirstLayer {
    display: block;
    width: 300px;
    height: 330px;
    background-color: rgb(0,100,0);
    border-radius: 50%;
    position: absolute;
    bottom: -25%;
}

.avocadoFirstLayer:before {
    position: absolute;
    height: 86%;
    width: 75%;
    content: "";
    background-color: rgb(0,100,0);
    top: -25%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
}

.avocadoSecondLayer {
    display: block;
    width: 280px;
    height: 320px;
    background-color: rgb(50,205,50);
    border-radius: 50%;
    position: absolute;
    left: 3.5%;
    bottom: -22%;
}

.avocadoSecondLayer::before {
    position: absolute;
    height: 78%;
    width: 72%;
    top: -20%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: rgb(50,205,50);
    content: "";
}

.avocadoThirdLayer {
    display: block;
    width: 260px;
    height: 310px;
    background-color: rgb(173,255,47);
    border-radius: 50%;
    position: absolute;
    bottom: -20%;
    left: 6.5%;
}

.avocadoThirdLayer::before{
    position: absolute;
    height: 70%;
    width: 69%;
    border-radius: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: rgb(173,255,47);
    top: -15%;
    left: 50%;
}

.avocadoEyeLeft {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: 333333;
    position: absolute;
    top: 30%;
    left: 30%;
    animation: blinking1 1s ease-in-out infinite;
}

.avocadoEyeRight {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: 333333;
    position: absolute;
    left: 60% ;
    top: 30%;
    animation: blinking2 1s ease-in-out infinite;
}

.avocadoMouth {
    position:absolute;
    width: 30px;
    height: 10px;
    top: 45%;
    left: 40%;
}

.avocadoMouth::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 22px;
    border-bottom: 4px solid rgb(0, 0, 0);
    border-top: none;
    border-right: none;
    border-left: none;
}

.avocadoCheekLeft {
    width: 14px;
    height: 9px;
    border-radius: 50%;
    background-color: rgb(219,112,147);
    position: absolute;
    top: 40%;
    left: 30%;
}

.avocadoCheekRight {
    width: 14px;
    height: 9px;
    border-radius: 50%;
    background-color: rgb(219,112,147);
    position: absolute;
    top: 40%;
    left: 65%;
}

.avocadoPupilLeftLarge {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius:  50%;
    background-color: white;
    top: 32%;
    left: 35%;
}

.avocadoPupilRightLarge {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius:  50%;
    background-color: white;
    top: 32%;
    left: 65%;
}

.avocadoPupilLeftSmall {
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius:  50%;
    background-color: white;
    top: 35%;
    left: 33%;
}

.avocadoPupilRightSmall {
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius:  50%;
    background-color: white;
    top: 35%;
    left: 63%;

}

.avocadoSeed {
    width: 150px;
    height:  150px;
    position: absolute;
    border-radius: 100%;
    background-color: rgb(139,69,19);
    top: 65%;
    left: 25%;
}

.avocadoSeedInside {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(168, 115, 90);
    top: 73% ;
    left: 34%;
}


@keyframes swaying {
    0% {
        transform: rorate(20deg);
    }

    100% {
        transform: rotate(-12deg);
    }
}

@keyframes {
    0% {
        
    }
}
   




     

