body {
    background-color: rgb(176,224,230);
    --darkGreen: rgb(0,100,0);
    --green: rgb(50,205,50);
    --lightGreen: rgb(173,255,47);
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --pink: rgb(219,112,147);
}

h1, p {
    text-align: center;
    font-family: Courier, monospace;
    font-style: italic;
}

.avocado-container {
    position: relative;
    width: 100%;
    height: 20%;
}

.avocado-shape {
    width: 300px;
    height: 330px;
    position: absolute;
    top: 30%;
    left: 40%;
    animation: swaying 1.5s infinite ease-in-out alternate;
}

.avocado-skin {
    display: block;
    width: 300px;
    height: 330px;
    background-color: var(--darkGreen);
    border-radius: 50%;
    position: absolute;
    bottom: -25%;
}

.avocado-skin:before {
    position: absolute;
    width: 75%;
    height: 86%;
    content: "";
    background-color: var(--darkGreen);
    top: -25%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
}

.avocado-outer {
    display: block;
    width: 280px;
    height: 320px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    left: 3.5%;
    bottom: -22%;
}

.avocado-outer::before {
    position: absolute;
    height: 78%;
    width: 72%;
    top: -20%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: var(--green);
    content: "";
}

.avocado-inner {
    --headTopOffset: -15%;
    --eyesTopOffset: 2%;
    --cheekTopOffset: 15%;
    display: block;
    width: 260px;
    height: 310px;
    background-color: var(--lightGreen);
    border-radius: 50%;
    position: relative;
    bottom: -26%;
    left: 6.5%;
}

.avocado-inner::before{
    position: absolute;
    height: 70%;
    width: 69%;
    border-radius: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: var(--lightGreen);
    top: var(--headTopOffset);
    left: 50%;
}

.avocado-eyes {
    --lefteyeOffset: 30%;
    --righteyeOffset: 60%;
    --pupilsLargeOffset: 15%;
    --pupilsSmallTopOffset: 40%;
    --pupilsSmallSideOffset: 35%;
    top: var(--eyesTopOffset);
    width: 12%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--black);
    position: absolute;
    animation: blinking 5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;

}
.avocado-eye-left {
   left: var(--lefteyeOffset);
}

.avocado-eye-right {
    left: var(--righteyeOffset);
}

.avocado-pupils {
    top: var(--pupilsLargeOffset);
    width: 33%;
    aspect-ratio: 1;
    position: absolute;
    border-radius:  50%;
    background-color: var(--white);
}

.avocado-pupil-left-large {
    left: 50%;
}

.avocado-pupil-right-large {
    left: 50%;
}

.avocado-pupil-left-small {
    width: 15%;
    height: 15%;
    position: absolute;
    border-radius:  50%;
    background-color: var(--white);
    top: var(--pupilsSmallTopOffset);
    left: var(--pupilsSmallSideOffset);
}

.avocado-pupil-right-small {
    width: 15%;
    height: 15%;
    position: absolute;
    border-radius:  50%;
    background-color: var(--white);
    top: var(--pupilsSmallTopOffset);
    left: var(--pupilsSmallSideOffset);
}

.avocado-mouth {
    --mouth-width: 14%;
    display: flex;
    position: absolute;
    width: var(--mouth-width);
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: calc(50% - var(--mouth-width) / 2);
}

.avocado-mouth::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 150%;
    height: 100%;
    border-bottom: 4px solid var(--black);
    border-top: none;
    border-right: none;
    border-left: none;
}

.avocado-cheeks {
    --leftcheekOffset: 30%;
    --rightcheekOffset: 65%;
    top: var(--cheekTopOffset);
    width: 7%;
    aspect-ratio: 1.5;
    border-radius: 50%;
    background-color: var(--pink);
    position: absolute;
}

.avocado-cheek-left {
    left: var(--leftcheekOffset);
}

.avocado-cheek-right {
    left: var(--rightcheekOffset);
}

.avocado-seed {
    --seed-width: 50%;
    display: flex;
    width: var(--seed-width);
    aspect-ratio: 1;
    position: absolute;
    border-radius: 100%;
    background-color: rgb(139,69,19);
    top: 40%;
    left: calc(50% - var(--seed-width) / 2);
    justify-content: center;
    align-items: center;
}

.avocado-seed-inside {
    width: 84%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: rgb(168, 115, 90);
}


@keyframes swaying {
    0% {
        transform: rorate(20deg);
    }
    100% {
        transform: rotate(-12deg);
    }
}

@keyframes blinking {
    0%, 8% {
        height: 30px;
    }
    10%, 12% {
        height: 5px;
    }
    14%, 100% {
        height: 30px;
    }
}
   




     

